<!DOCTYPE html>

<html lang="ko">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script(admin).js" defer></script>
    <style>
        #video-grid{
            display: flex;
            flex-direction: row;
            max-width: 350px;
            max-height: 350px;
            margin: 15px;
        }
    
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: 0 15px 0 0;
        }
        #screen{
            display: flex;
            flex-direction: row;
            max-width: 350px;
            max-height: 350px;
            margin: 15px;
        }
    </style>
</head>
<body>
    <div id="video-grid">
    </div>
    <div id="screen"></div>  
    <a href="/"><button>나가기 v0.31</button></a>
    <!-- <button onclick="changeCam()">화면 전환</button> -->
</body>
</html>