<!DOCTYPE html>
<html lang="ko">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        input{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    
        <h1>메인화면이다. v0.35</h1>
        <a href="/admin"><input type="button" value="관리자화면 v0.32" /></a>
        <a href="/voiceroom"><input type="button" value="웹캠공유 v0.32" /></a>
    
</body>
</html>